# WordPress permalinks are set to "Plain" on cms.finyaar.com, so the WPGraphQL
# endpoint is index.php?graphql instead of the usual /graphql path.
# If permalinks are changed to a pretty structure, switch this to https://cms.finyaar.com/graphql
WORDPRESS_API_URL=https://cms.finyaar.com/index.php?graphql
